/* project page */
video{
    width: 100%;
    height: auto;
}

.project-margin{
    padding: 8rem 7.5rem;
    transition: .3s;
}

.project-column {
    display: flex;
    align-items: stretch;
}
.title-text-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titleGroup-01 {
    flex: 2;
    margin-right: 20px; /* 텍스트와 이미지 사이의 간격 조정 */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.titleGroup-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.image-container {
    flex: 3;
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지함 */
}

.image-container img {
    max-width: 100%;
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지함 */
}

.cardGroup-detail{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem 1.25rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.card-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 47%;
}

.project-info{
    margin: 64px 20vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 16px;
}
.project-info-detail{
    display: flex;
    flex-direction: row;
}
.info-gap{
    display: flex;
    flex-direction: column;
    gap:8px;
    flex: 1 1 100%;
}
.image-margin{
    background-size: cover;
    margin: 0px 10vw;
}
.img-clip{
    /* background-color: #fff; */
    position: relative;
    /* justify-content: center; */
    /* clip-path: inset(100% 100% round 16px); */
}
iframe {
    width: 100%;
    height: 100%;
  }
.sub-title{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.sub-title.row{
    flex-direction: row;
}
.sub-title-center{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;    
}
.sub-bg{
    padding: 64px 0;
    background: rgba(125, 125, 144, 0.1);
}
.sub-bg.gradient{
    background: linear-gradient(rgba(189, 91, 255, 0), rgba(189, 91, 255, .15));
}
.sub-bg.purple{
    background: rgba(189, 91, 255, .15);
}
.sub-bg.orange{
    background: #FF7246;
}
.sub-bg.orange div{
    padding: 0;
    margin: auto;
    width: 30%;
    height: 30%;
}
.sub-title-flex {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.sub-title-flex.center {
    align-items: center;
}

.sub-title-flex.center.align img {
    flex-grow: 1;
    max-width: 30%;
}

.sub-title-flex.center.align .sub-title {
    flex-grow: 2;
}
.sub-title-flex.half{
    width: 50%;
}
.img-large {
    flex-grow: 1; /* 이미지가 동등한 공간을 차지하도록 설정 */
    max-height: 100%;
    display: flex; /* 이미지를 가운데 정렬하기 위해 부모 요소도 flex로 설정 */
    justify-content: center; /* 이미지를 가로로 가운데 정렬 */
    align-items: center; /* 이미지를 세로로 가운데 정렬 */
    object-fit: cover; /* 이미지 비율을 그대로 유지하면서 채우도록 설정 */
}
.img-large:nth-child(1){
    max-width: 30%;
}
.img-large:nth-child(2){
    max-width: 66.6%;
}
.sub-title-circle{
    border: 1px solid rgba(125, 125, 144, 1);
    border-radius: 50px;
    padding: 16px 24px;
    margin: 24px auto;
}
.card-column{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    gap: 24px;
    padding: 0 3vw;
}
/* 반응형 */
@media(max-width: 843px){
    .project-page{
        gap: 40px;
    }
    .project-margin{
        margin: 0 10vw;
    }
    .project-info{
        margin: 64px 10vw;
        gap: 16px;
    }
    .image-margin{
        margin: 0 5vw;
    }
    .sub-title{
        gap: 10px;
    }
    .sub-title.row{
        flex-direction: column;
        padding: 0 5vw;
    }
    .sub-bg{
        padding: 40px 0;
    }
    .sub-title-flex{
        gap: 24px;
    }
    .project-info-detail{
        flex-direction: column;
        gap: 16px;
    }
    .info-gap{
        flex-direction: row;
    }
    .bubble{
        width: 70%;
    }
}
@media(max-width: 500px){
    .sub-title-flex{
        gap: 32px;
        flex-wrap: wrap;
    }
    .sub-title-flex.half{
        width: 100%;
        }
    .bubble{
        width: 90%;
    }
    .img-half{
        width: 100%;
    }
}
@media(max-width: 400px){
    .card-column{
        flex-direction: column;
        height: 100vh;
    }
}

#inTrans{
    opacity: 0;
    transition: all .5s;
}
.otherProject-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-underline{
    content:'';
}
.link-underline::before{
    border-bottom: .5px solid #A7A6BB;
    content:'';
    display: block;
    width: 55px;
    transform: translate(0, 1.3em);
}
.main-point{
    margin-top: 16px;
    height: 100%;
    display: flex;
    transition: .3s;
    flex-direction: column;
    gap: 8px;
}
.main-point.sqaure{
    background: rgba(242, 242, 242, .1);
    border: .7px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 12px;
}
.main-point.sqaure2{
    border: 1px solid rgba(248, 248, 251, 0.30);
    background: rgba(230, 115, 77, 0.90);
    backdrop-filter: blur(3px);
    padding: 12px;
    height: 200px;
    justify-content: center;
    flex: 1 1 100%;
}
.main-point.sqaure2:nth-child(1){
    transform: rotate(-6deg);
}
.main-point.sqaure2:nth-child(2){
    transform: rotate(10deg);
}
.main-point.sqaure2:nth-child(3){
    transform: rotate(-15deg);
}
.main-point.sqaure.center{
    align-items: center;
}
.main-point.circle{
    /* background: rgba(242, 242, 242, .1); */
    border: .7px solid rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    padding: 14% 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.main-point.circle span{
    text-align: center;
}
.img-gradient{
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);  
}
.prototype {
    width: 100%; /* 로티 파일 크기 조절 */
    height: 100%;
    border: 1px solid #EEEEF1;
    border-radius: 1.5em;
    padding: 1em;
}
.prototype.first{
    width: 100%; /* 로티 파일 크기 조절 */
    height: 100%;
}
.bg-project{
    padding: 64px 0;
    overflow: hidden;
}
.bg-project.koling{
    background: url('/img/project/img_koling_background_1.webp') no-repeat center;
    height: 100%;
    background-size: cover;
}
.bg-project.koling-grid{
    background: url('/img/project/img_koling_grid.png') no-repeat center;
    background-size: cover;
    min-height: 300px;
    max-height: 720px;
    padding: 64px 0 64px 30%;
}
.bubble{
    background: rgba(242, 242, 242, .1);
    border: .7px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: row;
    border-radius:100px;
    width: 60%;
    height: auto;
    padding: 16px 24px;
    gap: 16px;
    align-items: center;
    margin: 0 0 5em;
}
.img-dot{
    width: 56px;
    height: 56px;
    background-size: cover;
}
.img-solution{
    max-width: 200px;
    max-height: 200px;
    background-size: cover;
}
.img-round{
    border-radius: 16px;
    border: .7px solid rgba(255, 255, 255, .2);
}
.img-half{
    width: 50%;
}