/* Basic Setting */
html {
    /* scroll-behavior: smooth; */
    overflow: scroll;
  }
body{
    background-color: var(--gray-50);
    margin: 0px;
    font-family: "Bayon", sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background 0.3s ease;
}
body::-webkit-scrollbar {
    width: 12px;  
	background: rgba(125, 125, 144, 0.1);
}
body::-webkit-scrollbar:horizontal {
    display: none;
}
body::-webkit-scrollbar-thumb {
	background: rgba(125, 125, 144, 0.4);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
	background: rgba(125, 125, 144, 0.7);
}


strong{
    font-weight: 700;
}
img {
    background-size: cover;
	width: 100%;
	height: auto;
  }
article{
    opacity: 0;
    transition: all .5s;
}

/* color */
:root{
    --gray-50: #F9F9F9;
    --gray-100: #F2F2F2;
    --gray-200: #E9E9E9;
    --gray-300: #D9D9D9;
    --gray-400: #B5B5B5;
    --gray-500: #959595;
    --gray-600: #6D6D6D;
    --gray-700: #5A5A5A;
    --gray-800: #3B3B3B;
    --gray-900: #1B1B1B;
    --main-300: #1c63f1;
    --main-400: #C40425;
    --main-500: #88081E;
    --secondary-300: #868EA6;
}

/* Text Style */
.bold{
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
}

.h0{
    font-size: 640px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
}

.h1{
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.h2{
    font-family: "proxima-nova", sans-serif;
    font-size: 80px;
    font-style:normal;
    font-weight:300;
    line-height: 130%;
}

.h3{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: var(--gray-900);
}

.h4{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: var(--gray-900);
}

.logo{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.p1{
    /* Button Title style */
    font-size: 48px;
    font-style : normal;
    font-weight: 400;
    line-height: 100%;
    color: var(--gray-800);
}

.p2{
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: var(--gray-800);
}

.p3{
    font-family: "proxima-nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6em;
    color: var(--gray-800);
}


/* 이 파일에서는 layout.css의 그리드에 들어가는 ui 요소들을 정의한다. */
/*Main Text*/
.main-page{
    display: flex;
    flex: 1 1 auto;
    padding: 5vw 0 10vw;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--main-300);
}
.main-text{
    align-content: flex-start;
    margin:  10vh 10vw 0;
    z-index: 1;
    color:var(--gray-50);
}
.main-title{
    display: inline-flex;
    align-items: flex-start;
    gap: 4rem;
    color:var(--secondary-300);
    margin-top: -56px;
}

/* main project list 메인 프로젝트 리스트 */
.main-project-list{
    display: flex;
    width: 100%;
    height: auto;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap; /* 아이템들이 여러 줄에 걸쳐 정렬될 수 있도록 설정 */
    justify-content: space-between;
}

.main-project-thum-left,
.main-project-thum-right{
    display: flex;
    width: calc(50%);
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0;
}
.main-project-thum-left{
    padding: .5rem 0.625rem 3rem 20.75rem;
}
.main-project-thum-right{
    padding: 0.5rem 20.75rem 3rem 0.625rem;
}
.main-project-thum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
}
.img-main-project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정하여 비율을 유지하도록 함 */
    padding-top: 133.33%; /* 3:4 비율을 유지하기 위해 높이를 설정함 (4 / 3 * 100) */
    align-self: stretch;
    border-radius: 0.6rem;
    transition: .3s ease;
    margin-top: 3vw;
}
.img-main-project:hover {
    transform: scale(1.02) rotate(1deg);
    filter: brightness(80%);
    transition: transform 0.3s, filter 0.3s;
}

.img-main-project.first{
    background-image: url('/img/img_thum_1.webp');
}
.img-main-project.second{
    background-image: url('/img/img_thum_2.webp');
}
.img-main-project.third{
    background-image: url('/img/img_thum_3.webp');
}
.main-project-content{
    display: flex;
    padding: 0rem .5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}
.main-project-title{
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    align-self: stretch;
}

/* main-project-list-etc 가장 하단에 들어가는 3개짜리 컬럼 리스트*/
.main-project-list-etc{
    display: flex;
    width: 100%;
    padding: 11rem 20.75rem 4rem 20.75rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.main-project-group-3{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
}
.btn-scroll{
    display: flex;
    padding: 0 .75rem;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vw;
}







.card-half{
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    color: inherit;
    display: flex;
    flex-direction: column;
}

/* 카드 1/2 */
.card-item-project{
    overflow: hidden;
    color: inherit;
    flex: 1 1 auto;
}
.img-main-project-half {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    transition: .3s ease;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}  

/* .img-main-project:hover{
    filter: brightness(70%); 
} */
/* card text setting */
.card-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 1.5vw 0;
    gap: .4em;
}




.sidebar-r img{
    width: auto;
    height: auto;
    transition: .3s;
}
.footer-icons img {
    width: auto;
    height: auto;
    transition: .3s;
}
.sidebar-r img:hover{
    transform: scale(110%);
    transform-origin: center;
}
.footer-icons img:hover{
    transform: scale(110%);
    transform-origin: center;
}
.down{
    background-image: url('/img/btn_scrolldown_light.svg');
    background-size: cover;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 28vh;
    transform:translate(-50%,0%);
    z-index: 1;
    transition: .4s;
    cursor: pointer;
}

/* Social network's buttons */
.sidebar-r {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.4s;
}

/* down to portfolio list */
.down {
    opacity: 0;
    height: 64px;
    width: 64px;
}

.main-text {
    gap: 32px;
}

/* Media Queries */
@media (min-width: 400px) {
    .main-text {
        gap: 48px;
    }
    .sidebar-r {
        right: 3vw;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        height: 100vh;
    }
    .down {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .main {
        font-size: 44px;
        transition: 0.4s; 
    }
    .body0{
        font-size: 28px;
        transition: 0.4s; 
    }
    .sidebar-r {
        opacity: 0;
        transition: 0.4s; 
    }
    /* .main-project-list{
        margin: 0vw;
    }
    .card-title{
        margin: 4vw;
    } */
}
/* 
@media (max-width: 400px) {
    .sidebar-r {
        left: 50%;
        bottom: 3vw;
        height: 48px;
        border-radius: 24px;
        transform: translate(-50%, 0);
        gap: 64px;
        flex-direction: row;
        transition: 0.4s;
    }

    .down {
        opacity: 0;
    }
} */



/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 8vw 3vw 3vw;
    gap: 16px;
}
.footer.d{
    background: hsla(240, 17%, 15%, 1);
}
.footer-icons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
}
.footer-stretch{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.border{
    width: 100%;
    height: .75px;
    background: var(--gray-200);
}
.border-d{
    width: 100%;
    height: .75px;
    background: var(--gray-400);
}

#lockedContent {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background: var(--gray-300);
  }

#unlockedContent {
    display: none;
}
.password{
    width: 360px;
    height: 54px;
    background: var(--gray-50);
    border: 1px var(--gray-100);
    display: flex;
    position: absolute;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ic-32px{
    width: 32px;
    height: 32px;
    margin: 12px 0 12px 12px;
}
#passwordInput{
    width: 100%;
    height: auto;
    border: none;
    padding: 12px 0;
    background: none;
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
input::placeholder{
    color: #A7A6BB;
}
/* icon 아이콘 */
.btn-more{
    display: flex;
    align-items: center;
    background-image: url('/img/btn_more.svg');
    width: 1.75rem;
    height: 1.75rem;
    padding: .25rem;
}
.btn-enter{
    width: auto;
    height: 100%;
    padding: 12px;
    border: none;
    background: var(--gray-50);
    cursor: pointer;
    margin: 0;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.back-position{
    position: absolute;
    left: 3vw;
    top: 3vw;
}
.btn_behance{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_behance_light.svg');
}
.btn_behance.white{
    background-image: url('/img/btn_main_behance_dark.svg');
}
.btn_linkedin{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_linkedin_light.svg');
}
.btn_linkedin.white{
    background-image: url('/img/btn_main_linkedin_dark.svg');
}
.btn_blog{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_blog_light.svg');
}
.btn_blog.white{
    background-image: url('/img/btn_main_blog_dark.svg');
}
.btn_behance:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_linkedin:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_blog:hover{
    transition: .3s;
    transform: scale(108%);
}
